<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Betting Mechanism Simulation</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
  <style>
    .bet-result {
      margin-top: 20px;
      display: none;
    }
  </style>
</head>

<body>
  <section class="section">
    <div class="container">
      <h1 class="title has-text-centered">Simulação de Apostas</h1>
      <div class="box">


        <div class="field">
          <label class="label">Valor médio</label>
          <div class="control">
            <input class="input" type="number" id="bet-amount" placeholder="Insira um valor aqui (ex: 100)" required>
          </div>
        </div>

        <div class="field">
          <label class="label">% de chance da banca ganhar</label>
          <div class="control">
            <input id="bet-slider-house" class="slider" step="0.1" min="50" max="60" value="50" type="range"
              onchange="updateSlider()">
            <span id="bet-slider-house-value" class="tag is-info">50.0%</span>
          </div>
        </div>

        <div class="field">
          <label class="label">Quantidade de apostas</label>
          <div class="control">
            <div class="select">
              <select id="bet-simulation-option" required>
                <option value="" disabled selected>Selecione:</option>
                <option value="10">100</option>
                <option value="1000">1000</option>
                <option selected value="10000">10000</option>
                <option value="100000">100000</option>
                <option value="1000000">1000000</option>
              </select>
            </div>
          </div>
        </div>


        <div class="field">
          <div class="control">
            <button id="placeButton" class="button is-primary" onclick="placeBet()">Simular</button>
          </div>
        </div>


        <div class="bet-result notification is-info">
          <p id="result-message"></p>
        </div>
      </div>
    </div>
  </section>
</body>

</html>